/* -------------- CSS Rest Section ----------------- */
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------- navbar Section ----------------- */
.navbar {
    width: 100%;
    height: max-content;
}

.nav>li {
    margin: auto 10px;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: white;
    padding: 2% 0%;

}

.resume>p,
a {
    margin: 0 0.5%;
    text-decoration: none;
}

.welcome-section,
.aboutMe-section,
.projects-section,
.contactMe-section,
.icons-section {
    margin: 1% auto;
    text-align: center;
    padding: 1% 0%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.gallery {
    margin: 3% auto;
}

.project {
    width: 100%;
    border: 3px solid black;
    border-radius: 12px;
    margin-bottom: 3%;
}

.gallery-cell {
    width: 80%;
    height: 400px;
    margin-right: 5px;
    border: 2px solid black;
    counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
    display: block;
    line-height: 200px;
    /* content: counter(gallery-cell); */
}

.button {
    margin: 2% auto;
    background-color: wheat;
    width: 30%;
    border-radius: 12px;

}

#icons {
    font-size: 200%;
    color: black;
    margin: 0% 5%
}

.form-control {
    width: 20%;
}

footer {
    text-align: center;
}

h2 {
    padding: 4%;
}

#findmore {
    margin-top: 5%;
    background-color: wheat;
    border: none;
    color: black;
}